---
layout: page
permalink: /materials/
title: Course Materials

---

<h1>Outlines</h1>

  {% for outline in site.outlines %}
    <p><a href="{{ site.baseurl }}{{ outline.url }}">{{ outline.title }}</a>
    </p>
  {% endfor %}

<h1>Discussion Problems</h1>

  {% for problem in site.problems %}
    <p><a href="{{ site.baseurl }}{{ visual.url }}">{{ problem.title }}</a>
    </p>
  {% endfor %}

<h1>Review Questions</h1>

  {% for question in site.questions %}
    <p><a href="{{ site.baseurl }}{{ question.url }}">{{ question.title }}</a>
    </p>
  {% endfor %}



- [Attorney Ads](https://www.emfink.net/ElonLaw/presentations/AttorneyAdvertising.revealjs.html)


# Study Aids 

[CALI Lessons](https://www.cali.org/content/lessons-subject-outline-professional-responsibility)

[MPRE Sample Test Questions](http://www.ncbex.org/pdfviewer/?file=%2Fdmsdocument%2F3)