#bg {
  position: fixed; 
  top: 50px; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}

.profile-block {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 25%;
    left: 0;
    text-align: center;
}

.profile h1 {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    margin: 0px 0 0.5rem 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.profile h2 {
    font-size: 2.5rem;
    color: white;
    line-height: 2;
    font-weight: 700;
    margin: 0 0 0 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.profile h3 {
    font-size: 1.5rem;
    color: white;
    line-height: 1.5;
    font-weight: 700;
    margin: 2rem 0 0rem 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.profile h3 + h3 {
    margin-top: 0rem;
}

.profile h4 {
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    line-height: 1.5;
    margin: 0 0 0 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.profile h3 + h4 {
    margin-top: 1rem;
}

.social {
    border-top: 0px solid $grey-color-light;
    margin-top: 50px;
    padding-top: 0px;
}



@media only screen
and (max-device-width:576px){
    .profile h1 {
        font-size: 2rem;
    }
    .profile h2 {
        font-size: 1.5rem;
    }
    .profile h3 {
        font-size: 1.2rem;
    }
    .profile h4 {
        font-size: 1rem;
    }
}

