.social-icons-left, .social-icons-right {
  text-align: center;
  float: none;
}

.social-icons {
  font-size: 1.25rem;
  padding: 0.5em 0 0 0;
  width: 100%;
}



.social-icons a.fa {
  cursor: pointer;
  opacity: 0.8;
  padding: 0.2em;
}

.social-icons a.fa:hover {
  opacity: 1;
}

.social-icons iframe[title=Flattr] {
  position: relative;
  top: 0.1em;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    font-size: 32px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.list-inline>li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.list-inline-item {
    display: inline-block;
}

@media only screen
and (max-device-width:576px){
    .list-inline {
        font-size: 24px;
    }
    .list-inline>li {
        padding-left: 5px;
        padding-right: 5px;
    }
}
