---
layout: default
---
<div class="wrapper">
<div class="post">

<header class="post-header">
<h1 class="post-title">{{ page.title }}</h1>
<h5 class="post-description">{{ page.description }}</h5>
</header>


<article class="post-content {{page.title}} clearfix">
    
<!-- Syllabus -->    
<div class="syllabus">

<!-- Syllabus Head -->
{% include syllabus_head.html %}

<!-- Syllabus Body -->


{{ content }}

<!-- Syllabus Download Link -->
<h4><a href={{ site.baseurl }}/_pages/syllabus.pdf >Download a copy</a></h4>


</div> <!-- /Syllabus -->

</article>



</div>
</div>